@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims
@model IEnumerable<SalesTracker.Models.Inventory>

<div class-="container">
    <h4>Create New Inventory Item</h4>
    <form action="NewInventory" class="new-inventory">
        <label for="newName">Name: </label>
        <input type="text" name="newName" />
        <label for="newDescription">Description: </label>
        <input type="text" name="newDescription" />
        <label for="newPrice">Price: </label>
        <input type="text" name="newPrice" />
        <button type="submit">Submit</button>
    </form>
    <div id="result6"></div>
    <hr />
</div>

<div class="container">
    <h4>Complete Inventory List:</h4>
    <h4 class="inventory" data-request-url="@Url.Action("Items")">Inventory List:</h4>
    <div id="result"></div>

    <div class="edit"></div>
</div>